# Virtual Environment
RAGenv/
.RAGenv/
env/
*.pyc
__pycache__/

# Vector Store Directory
vector_store/

# OS-specific files
.DS_Store
Thumbs.db

# Log
customrag.log

# ReadMe for the Main branch
README1.md